html {
    scroll-behavior: smooth;
    background-color: gray;
    text-align: center;
    font-size: large;
    text-shadow: 3px 3px 0 black;
    color: whitesmoke;
  }
  body {
    font-size: 50px;
  }
  button {
    margin: 10px;
    font-family: Impact;
  }
